body{
    margin-top: 100px;
    text-align: center;
    background: url('../images/main-bg.jpg') no-repeat;
    background-size: cover;
}

p{
    text-align: center;
}

form{
    text-align: center;
}

input{
    margin-top: 30px;
}